#root {
  width: min(100%, 1100px);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 64px 112px;
  gap: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0px 32px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 56px;
}

#links {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 24px;
}

.tx-xl {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
}

.tx-l {
  font-weight: 520;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #101828;
}

.txt-md {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #667085;
}



@media only screen and (max-width: 700px) {
  .App {
    padding: 64px 0px;
  }

  .main {
    padding-inline: 16px;
  }

  .menu_container>svg:last-child {
    display: block;
  }

  .menu_container>svg:first-child {
    display: none;
  }

  .footer {
    padding-inline: 16px;
    gap: 10px
  }
}