.contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0px 96px;
    gap: 34px;
}

.contact-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
    padding: 0px 16px;
    gap: 32px;
    width: min(100%, 700px);
}

.contact-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.contact-name {
    display: flex;
    width: 100%;
    gap: 24px
}

@media screen and (max-width: 550px) {
    .contact-name {
        flex-direction: column;
    }
}

.contact-input-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px
}

.contact-input-label {
    font-weight: 550;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.contact-input-item-container>input {
    padding: 10px 14px;
    gap: 8px;
    background: #FFFFFF;
    font-size: 16px;
    height: 44px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    min-width: 0;
}

.contact-input-item-container>input:focus {
    outline: none;
    border: 1px solid #84CAFF;
}

.contact-input-item-container>input:active {
    outline: 3px solid #84CAFF;
}

#message {
    font-family: inherit;
    padding: 10px 14px;
    height: 132px;
    gap: 8px;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

#message:focus {
    outline: none;
    border: 1px solid #84CAFF;
}

#message:active {
    outline: 3px solid #84CAFF;
}

/* .contact-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
} */

.contact-checkbox-container {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contact-checkbox-container input {
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
}

/* .contact-checkbox-container:hover input~.checkmark {} */

.contact-checkbox-container input:checked~.checkmark {
    border-color: #1570EF;
}

.contact-checkbox-container input:active~.checkmark {
    outline: 3px #84CAFF solid;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.contact-checkbox-container input:checked~.checkmark:after {
    display: block;
}

.contact-checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid #1570EF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.contact-btn-send-msg {
    width: 100%;
    padding: 12px 20px;
    gap: 8px;
    background: #1570EF;
    color: white;
    outline: no;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

button:focus {
    outline: none;
}

.contact-btn-send-msg:hover {
    background-color: #175CD3;
}

.contact-btn-send-msg:active {
    outline: 5px solid #84CAFF;
    border-color: #1570EF;
}