.zuri-link-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.link-wrapper {
    position: relative;
    display: flex;
    width: 100%;
}

.toggle-button {
    position: absolute;
    right: 0;
    top: 50%;
    border: none;
    background-color: transparent;
    outline: none;
    appearance: none;
}

.toggle-button:focus {
    border: none;
    outline: none;
}

.zuri-a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    width: 100%;
    border: 1px solid #EAECF0;
    background: #EAECF0;
    border-radius: 8px;
}