#profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
}

.p-image:hover+.img-overlay {
    display: block;
}

.img-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.img-overlay:hover {
    display: block;
}

.menu_container {
    position: absolute;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    right: 11.53%;
    top: -10px;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
}

.menu_container>svg:last-child {
    display: none;
}


@media only screen and (max-width: 700px) {
    .menu_container>svg:last-child {
        display: block;
    }

    .menu_container>svg:first-child {
        display: none;
    }
}